on:
  release:
    types: [published]
name: Publish
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish Mod
        uses: shanemadden/factorio-mod-portal-publish@stable
        env:
          FACTORIO_PASSWORD: ${{ secrets.FACTORIO_PASSWORD }}
          FACTORIO_USER: ${{ secrets.FACTORIO_USER }}
